i {
  font-style: normal;
}

.inline {
    display: inline;
}

.group {
  padding: 20px;
  margin-top: 20px;
}

.group h2 {
  margin-top:0;
}

.group p {
  font-size: 1.3em;
}

.ng1 {
  border-left: solid 10px #39f;
  padding-left: 4px;
}

.ng1-text {
  color: #39f;
}

.ng2 {
  border-left: solid 10px #c00;
  padding-left: 4px;    
}

.ng2-text {
  color: #c00;
}

nav {
  padding: 12px;
  border-bottom:solid 1px #ccc;
}

nav li a.title {
  text-transform: uppercase;
  font-weight: bold;
  color: #ccc;
}

.separated li:not(:last-child) {
  border-right: solid 1px #eee;
  text-transform: lowercase;
}

.push-down-md {
  margin-top: 25px;
}